
.main-topic {
  margin-bottom: 12px;
  color: #121212;
  margin: 0 24px;
  margin-bottom: 12px;
  text-align: center;
}
.main {
  padding: 12px 24px;
  border-radius: 24px;
  border: none;
  width: 70vw;
  background-color:rgb(177, 177, 177);
  margin: 12px auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.main-para {
  display: inline-block;
  text-align: left;
  margin-top: 35px;
  border-radius: 20px;
  background-color: goldenrod;

  font-weight: 400;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}
.main-img {
  border: none;
  border-radius: 20px;
  margin-top: 34px;
  width: auto;
  height: auto;
}
.main-row {
  display: flex;
  margin: 0 24px;
  flex-grow: none;
  flex-shrink: none;
  gap: 24px;
  justify-content: space-between;
}
.prasecond {
  margin: 12px auto;
}
.paragraph {
  display: inline-block;
  margin: 12px 24px;
  font-family: "Poppins", sans-serif;
  background-color: goldenrod;
  border-radius: 20px;
}

.body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.header-container .logo img {
  width: 150px;
}

header {
  padding: 20px;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
}

nav ul li a:hover {
  background-color: #7E57C2;
  padding: 15px 20px;
}

nav ul li a.active {
  background-color: #7E57C2;
  padding: 15px 20px;
}

nav ul li {
  margin-left: 20px;
}

.vertical-line {
  border-left: 1px solid white;
  height: 100%;

  margin: 0 20px;
  
}

.user-buttons button {
  background-color: #7E57C2;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.slider-track{
  position: relative;
  background-size: cover;
  top: 20px;
  height: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slide-item{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%
}

.slide-item > img{
  height:100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes fade{
  0%{
      opacity: 1;
  }
  
  70%{
      opacity: 0;
  }

  100%{
      opacity: 1;
  }
}




.next {
  right: -50px;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: -50px;
  border-radius: 3px 0 0 3px;
}

.pavbar{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #0c0c0c;
  text-align: center;
}

.pavbar > .btn-bars{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dcb406;
  margin: 0 20px;
  font-size: 15px;
  border-radius: 15px;
  height: 20px;
  padding: 30px 15px;
  width: auto;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s ease-in;
  cursor: pointer;
}


.about-us{
  width: 95%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 420px;
  width: 100%;
}

.pic{
  height: 420px;
  width: 520px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 9px #353b48;
}

.about-us > #bp1{
  background-image: url("images/pic1.jpg");
  background-size: cover;
  background-position: top;
}

.about-us > #bp2{
  background-image:url("images/pic2.jpg");
  background-size: cover;
  background-position:top ;
}

.about-us > #bp3{
  background-image: url("images/pic3.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  
}


.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 450px;
  width: 700px;
  padding: 30px;
}

.text >p{
  text-align: justify;
  font-size: 20px;
  color: black;
  font-style:normal;
}

.text > .btn-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  height: 40px;
  width: 220px;
  padding: 10px 20px;
  border: 3px solid white;
  color:  #dcb406;
  font-size: 20px;
  font-weight: 700;
  border-radius: 20px;
  transition: 0.3s all;
}

.text > .btn-about:hover{
  background-color: #dcb406;
  color: white;
  cursor: pointer;
  user-select: none;
}

.text > .btn-about:active{
  scroll-snap-align: center;
}

hr{
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  
}

.empty-space {
  padding: 400px;
}

footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 80px;
}

.navigation {
  display: flex;
  flex-direction: column;
  
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
}



.logo {
  margin: 0 10px;
  padding-right: 5px;
  padding-left: 20px;
}

.logo img {
  width: 300px;
  height: auto;
}

.social {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 65px;
}

.social a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.social a i {
  font-size: 20px;
}

.copyright {
  text-align: center;
  padding: 10px 0;
  background-color: #7E57C2;
}

.copyright p {
  margin: 0;
}